body {
  background-color: white;
}
.InfillsView {
  background-color: white;
  max-width: 500px;
}

form {
  align-self: center;
  border: 1px solid;
  border-style: double;
  border-width: 10px;
  padding: 10px;
  margin: auto;
  margin-right: auto;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  border: 10px;
  border-style: groove;
  border-width: medium;
  border-color: black;
  text-align: center;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  border: 10px;
  border-style: groove;
  border-width: medium;
  border-color: black;
  font-display: center;
  text-align: center;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  border: 10px;
  border-style: groove;
  border-width: medium;
  border-color: black;
  text-align: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 10px;
  border-style: groove;
  border-width: medium;
  border-color: black;
  text-align: center;
}

.Infills-Price {
  width: 550px;
  /* display: 0;
  margin: auto; */
}

button {
  background-color: white;
  border: solid;
  border-color: grey;
  color: black;
  padding: 10px 24px;
  align-items: center;
}
